body {

    background-color: #9BBCF4;
}
*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
}
.head{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 999;
  display:flex;
  height:50px;
  padding: 0px 15px;
  background-color: #FFFFFFBD;
  box-shadow: 2px 2px 15px #020202;
}
.head-logo{
  display: flex;
  align-self:center;
  margin-right:30px;
  width:30%;
}
.head-logo span{
  color: #FC7070;
}
.head-logo img{
  height:27px;
}
.head-list{
  width:70%;
  align-self:center;
}
ul{
  display: flex;
  justify-content: space-between;
}
li{
  
}
li>a{
  color:#000000;
  align-self:center;
  height:30px;
}
a:hover{
  color: #F20F18;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h3{
  text-align: center;
  margin:30px 10px;
  color: #FFFFFF;
}
.title .line{
  width:50px;
  height: 1px;
  background-color: #FFFFFF;
}
span h3{
  text-align: center
}
.footer{
  margin:auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #000000;
  text-align: center;
}
.footer span{
  color: #FFFFFF;
}